/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

.question__item__desc, .work-item__desc, .work__desc, .features__item__desc, .hero__content__desc, .review__desc, .about__desc, .features__desc {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.question__heading, .work__heading, .review__heading, .about__heading, .features__heading {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.17; /* 117.857% */
  letter-spacing: -0.04em;
}

.review__heading, .about__heading, .features__heading {
  text-align: center;
}

.review__desc, .about__desc, .features__desc {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.work__view-all, .hero__content__cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 62px;
  background-color: #5d3bee;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
}

.work-item__heading, .features__item__heading {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -0.04em;
}

.container,
.container-fluid {
  --column-size: 12;
  --spacer: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.g-0 {
  --spacer: 0;
}

.row > [class*=col-],
.row[class*=row-cols-] > *,
.col {
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}

.row[class*=row-cols-] > *,
.row > [class*=col-] {
  flex: 0 0 auto;
}

.row[class*=row-cols-] > * {
  width: calc(100% / var(--row-cols-number));
}

.row-cols-1 > * {
  --row-cols-number: 1;
}

.row-cols-2 > * {
  --row-cols-number: 2;
}

.row-cols-3 > * {
  --row-cols-number: 3;
}

.row-cols-4 > * {
  --row-cols-number: 4;
}

.row-cols-5 > * {
  --row-cols-number: 5;
}

.row-cols-6 > * {
  --row-cols-number: 6;
}

.row > [class*=offset-] {
  margin-left: calc(100% / var(--column-size) * var(--offset-number));
}

.offset-0 {
  --offset-number: 0;
}

.offset-1 {
  --offset-number: 1;
}

.offset-2 {
  --offset-number: 2;
}

.offset-3 {
  --offset-number: 3;
}

.offset-4 {
  --offset-number: 4;
}

.offset-5 {
  --offset-number: 5;
}

.offset-6 {
  --offset-number: 6;
}

.offset-7 {
  --offset-number: 7;
}

.offset-8 {
  --offset-number: 8;
}

.offset-9 {
  --offset-number: 9;
}

.offset-10 {
  --offset-number: 10;
}

.offset-11 {
  --offset-number: 11;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer) / 2);
  margin-right: calc(-1 * var(--spacer) / 2);
}

.col {
  flex: 1 0;
}

.row > [class*=col-] {
  width: calc(100% / var(--column-size) * var(--column-number));
}

.col-1 {
  --column-number: 1;
}

.col-2 {
  --column-number: 2;
}

.col-3 {
  --column-number: 3;
}

.col-4 {
  --column-number: 4;
}

.col-5 {
  --column-number: 5;
}

.col-6 {
  --column-number: 6;
}

.col-7 {
  --column-number: 7;
}

.col-8 {
  --column-number: 8;
}

.col-9 {
  --column-number: 9;
}

.col-10 {
  --column-number: 10;
}

.col-11 {
  --column-number: 11;
}

.col-12 {
  --column-number: 12;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    --spacer: 24px;
  }
  .g-sm-0 {
    --spacer: 0;
  }
  .offset-sm-0 {
    --offset-number: 0;
  }
  .offset-sm-1 {
    --offset-number: 1;
  }
  .offset-sm-2 {
    --offset-number: 2;
  }
  .offset-sm-3 {
    --offset-number: 3;
  }
  .offset-sm-4 {
    --offset-number: 4;
  }
  .offset-sm-5 {
    --offset-number: 5;
  }
  .offset-sm-6 {
    --offset-number: 6;
  }
  .offset-sm-7 {
    --offset-number: 7;
  }
  .offset-sm-8 {
    --offset-number: 8;
  }
  .offset-sm-9 {
    --offset-number: 9;
  }
  .offset-sm-10 {
    --offset-number: 10;
  }
  .offset-sm-11 {
    --offset-number: 11;
  }
  .row-cols-sm-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-sm-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-sm-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-sm-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-sm-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-sm-6 > * {
    --row-cols-number: 6;
  }
  .col-sm-1 {
    --column-number: 1;
  }
  .col-sm-2 {
    --column-number: 2;
  }
  .col-sm-3 {
    --column-number: 3;
  }
  .col-sm-4 {
    --column-number: 4;
  }
  .col-sm-5 {
    --column-number: 5;
  }
  .col-sm-6 {
    --column-number: 6;
  }
  .col-sm-7 {
    --column-number: 7;
  }
  .col-sm-8 {
    --column-number: 8;
  }
  .col-sm-9 {
    --column-number: 9;
  }
  .col-sm-10 {
    --column-number: 10;
  }
  .col-sm-11 {
    --column-number: 11;
  }
  .col-sm-12 {
    --column-number: 12;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .g-md-0 {
    --spacer: 0;
  }
  .offset-md-0 {
    --offset-number: 0;
  }
  .offset-md-1 {
    --offset-number: 1;
  }
  .offset-md-2 {
    --offset-number: 2;
  }
  .offset-md-3 {
    --offset-number: 3;
  }
  .offset-md-4 {
    --offset-number: 4;
  }
  .offset-md-5 {
    --offset-number: 5;
  }
  .offset-md-6 {
    --offset-number: 6;
  }
  .offset-md-7 {
    --offset-number: 7;
  }
  .offset-md-8 {
    --offset-number: 8;
  }
  .offset-md-9 {
    --offset-number: 9;
  }
  .offset-md-10 {
    --offset-number: 10;
  }
  .offset-md-11 {
    --offset-number: 11;
  }
  .row-cols-md-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-md-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-md-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-md-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-md-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-md-6 > * {
    --row-cols-number: 6;
  }
  .col-md-1 {
    --column-number: 1;
  }
  .col-md-2 {
    --column-number: 2;
  }
  .col-md-3 {
    --column-number: 3;
  }
  .col-md-4 {
    --column-number: 4;
  }
  .col-md-5 {
    --column-number: 5;
  }
  .col-md-6 {
    --column-number: 6;
  }
  .col-md-7 {
    --column-number: 7;
  }
  .col-md-8 {
    --column-number: 8;
  }
  .col-md-9 {
    --column-number: 9;
  }
  .col-md-10 {
    --column-number: 10;
  }
  .col-md-11 {
    --column-number: 11;
  }
  .col-md-12 {
    --column-number: 12;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    --spacer: 30px;
  }
  .g-lg-0 {
    --spacer: 0;
  }
  .offset-lg-0 {
    --offset-number: 0;
  }
  .offset-lg-1 {
    --offset-number: 1;
  }
  .offset-lg-2 {
    --offset-number: 2;
  }
  .offset-lg-3 {
    --offset-number: 3;
  }
  .offset-lg-4 {
    --offset-number: 4;
  }
  .offset-lg-5 {
    --offset-number: 5;
  }
  .offset-lg-6 {
    --offset-number: 6;
  }
  .offset-lg-7 {
    --offset-number: 7;
  }
  .offset-lg-8 {
    --offset-number: 8;
  }
  .offset-lg-9 {
    --offset-number: 9;
  }
  .offset-lg-10 {
    --offset-number: 10;
  }
  .offset-lg-11 {
    --offset-number: 11;
  }
  .row-cols-lg-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-lg-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-lg-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-lg-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-lg-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-lg-6 > * {
    --row-cols-number: 6;
  }
  .col-lg-1 {
    --column-number: 1;
  }
  .col-lg-2 {
    --column-number: 2;
  }
  .col-lg-3 {
    --column-number: 3;
  }
  .col-lg-4 {
    --column-number: 4;
  }
  .col-lg-5 {
    --column-number: 5;
  }
  .col-lg-6 {
    --column-number: 6;
  }
  .col-lg-7 {
    --column-number: 7;
  }
  .col-lg-8 {
    --column-number: 8;
  }
  .col-lg-9 {
    --column-number: 9;
  }
  .col-lg-10 {
    --column-number: 10;
  }
  .col-lg-11 {
    --column-number: 11;
  }
  .col-lg-12 {
    --column-number: 12;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .g-xl-0 {
    --spacer: 0;
  }
  .offset-xl-0 {
    --offset-number: 0;
  }
  .offset-xl-1 {
    --offset-number: 1;
  }
  .offset-xl-2 {
    --offset-number: 2;
  }
  .offset-xl-3 {
    --offset-number: 3;
  }
  .offset-xl-4 {
    --offset-number: 4;
  }
  .offset-xl-5 {
    --offset-number: 5;
  }
  .offset-xl-6 {
    --offset-number: 6;
  }
  .offset-xl-7 {
    --offset-number: 7;
  }
  .offset-xl-8 {
    --offset-number: 8;
  }
  .offset-xl-9 {
    --offset-number: 9;
  }
  .offset-xl-10 {
    --offset-number: 10;
  }
  .offset-xl-11 {
    --offset-number: 11;
  }
  .row-cols-xl-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-xl-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-xl-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-xl-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-xl-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-xl-6 > * {
    --row-cols-number: 6;
  }
  .col-xl-1 {
    --column-number: 1;
  }
  .col-xl-2 {
    --column-number: 2;
  }
  .col-xl-3 {
    --column-number: 3;
  }
  .col-xl-4 {
    --column-number: 4;
  }
  .col-xl-5 {
    --column-number: 5;
  }
  .col-xl-6 {
    --column-number: 6;
  }
  .col-xl-7 {
    --column-number: 7;
  }
  .col-xl-8 {
    --column-number: 8;
  }
  .col-xl-9 {
    --column-number: 9;
  }
  .col-xl-10 {
    --column-number: 10;
  }
  .col-xl-11 {
    --column-number: 11;
  }
  .col-xl-12 {
    --column-number: 12;
  }
}
.header {
  position: sticky;
  top: -6px;
  left: 0;
  padding: 20px 0 12px;
  z-index: 3;
  background-color: #FBFAFF;
}
.header__wrapper {
  width: 1330px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.header-inner {
  display: flex;
  align-items: center;
}
.header .wrapper-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .wrapper-logo .email-contact {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: underline;
}
.header .logo__icon {
  margin-left: 357px;
  margin-right: 223px;
}
.header .nav__list {
  display: flex;
  align-items: center;
}
.header .nav__item__link {
  position: relative;
  display: block;
  padding: 8px 22px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  transition: ease 0.5s;
}
.header .nav__item__link:hover {
  text-shadow: 1px 0 0 #51586a;
}
.header .nav__item__link--active::after {
  position: absolute;
  bottom: 0px;
  left: 22px;
  content: "";
  display: inline-block;
  width: 50px;
  height: 1.5px;
  background-color: #51586a;
}

.hero {
  padding-top: 32px;
  background: #FBFAFF;
}
.hero-inner {
  position: relative;
  display: flex;
  gap: 156px;
}
.hero__media {
  position: relative;
  flex-shrink: 0;
}
.hero__media::after {
  content: url(../../assets/img/bgc-hero.svg);
  position: absolute;
  bottom: 0;
  left: -94px;
}
.hero__image {
  position: relative;
  width: 514px;
  z-index: 1;
}
.hero__content {
  margin-top: 137px;
}
.hero__content__heading {
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.95; /* 95% */
  letter-spacing: -0.04em;
}
.hero__content__desc {
  max-width: 370px;
  margin-top: 20px;
}
.hero__content__actions {
  margin-top: 50px;
}
.hero__content__link {
  margin-left: 30px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.hero__content__socials {
  margin-top: 104px;
  display: flex;
}
.hero__content__socials__row {
  display: flex;
  align-items: center;
}
.hero__content__socials__title {
  color: #51586a;
  font-weight: 500;
  margin-right: 15px;
}
.hero__content__socials__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero__content__socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #080415;
}
.hero__decor {
  position: absolute;
  bottom: 0;
  right: -215px;
}

.client {
  margin-top: 98px;
}
.client-inner {
  display: flex;
}
.client__wrapper__heading {
  flex-shrink: 0;
  display: flex;
  gap: 13px;
  margin-right: 105px;
}
.client__wrapper__heading::before {
  content: "";
  margin-top: 24px;
  top: 5px;
  display: inline-block;
  width: 86px;
  height: 2px;
  background: #5d3bee;
}
.client__wrapper__heading .client__heading {
  max-width: 253px;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2; /* 119.048% */
  letter-spacing: -0.04;
}
.client__list {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 66px;
  row-gap: 34px;
}
.client__item {
  display: inline-flex;
  align-items: center;
  column-gap: 13px;
}
.client__item__company {
  font-weight: 600;
}

.features {
  margin-top: 133px;
}
.features__desc {
  margin-top: 20px;
  max-width: 534px;
}
.features__list {
  margin-top: 60px;
}
.features__item {
  padding: 33px 43px;
  background: #fbfaff;
}
.features__item .features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.5);
}
.features__item__heading {
  margin-top: 22px;
}
.features__item__desc {
  margin-top: 15px;
  font-size: 1.6rem;
}

.work {
  margin-top: 140px;
  padding: 86px 0;
  background: #5d3bee;
}
.work__row-top {
  display: flex;
  align-items: center;
}
.work__heading {
  max-width: 468px;
  color: #fff;
}
.work__desc {
  margin-left: 160px;
  max-width: 370px;
  color: white;
}
.work-list {
  margin-top: 70px;
}
.work-list__wrapper {
  row-gap: 30px;
}
.work-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 44px;
  padding: 24px 23px 23px 34px;
  background: #fbfaff;
  z-index: 1;
}
.work-item__info {
  flex-shrink: 0;
}
.work-item__heading {
  white-space: nowrap;
}
.work-item__desc {
  max-width: 220px;
  margin-top: 10px;
  font-size: 1.6rem;
}
.work-item__link {
  display: inline-block;
  margin-top: 20px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.work-item__image {
  position: relative;
  flex-shrink: 0;
  width: 246px;
  height: 187px;
  object-fit: cover;
  z-index: 1;
}
.work-item::after {
  content: url(../../assets/icon/work-decor.svg);
  position: absolute;
  right: 0;
  z-index: 0;
}
.work__view-all {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;
  background-color: white;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
}

.about {
  margin-top: 140px;
}
.about__wrapper__label {
  text-align: center;
}
.about__label {
  display: inline-flex;
  gap: 9px;
}
.about__label__text {
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -0.04em;
}
.about__heading {
  margin-top: 10px;
}
.about__desc {
  margin-top: 15px;
  max-width: 570px;
}
.about__info {
  display: flex;
  justify-content: center;
  gap: 156px;
  width: 946px;
  margin: 70px auto 0;
  padding: 20px 0;
  border: 1.5px solid;
  border-color: #555 transparent #555 transparent;
}
.about__info__item .big-number {
  position: relative;
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.about__info__item .big-number::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #080415;
}
.about__info__desc {
  margin-top: 10px;
  color: #51586a;
  font-size: 1.7rem;
  font-weight: 400;
}
.about__wrapper-video {
  position: relative;
  position: relative;
  margin-top: 70px;
  width: 100%;
  padding-top: 56.25%;
  background-color: orange;
}
.about__wrapper-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about__label-video {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  background: #fff;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.review {
  position: relative;
  margin-top: 75px;
  padding: 75px 0;
  background: #FBFAFF;
}
.review__desc {
  margin-top: 20px;
  max-width: 570px;
}
.review__quote-list {
  display: flex;
  margin: 60px auto 0;
  overflow: hidden;
  width: 680px;
}
.review__quote-list .review__quote-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.review__quote-list .review__content {
  max-width: 680px;
  text-align: center;
  color: #51586a;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.review__quote-list .review__author {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 36px;
}
.review__quote-list .review__author__avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.review__quote-list .review__author__name {
  color: #080415;
  font-size: 3rem;
  font-weight: 500;
}
.review__quote-list .review__author__job {
  margin-top: 20px;
  padding-bottom: 6px;
  color: #51586a;
  font-weight: 400;
}
.review__dots {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}
.review__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cecece;
}
.review__dot:hover {
  cursor: pointer;
}
.review__dot--active {
  background: #5d3bee;
  border: 3px solid white;
  outline: 2px solid #5d3bee;
}
.review__decor {
  position: absolute;
  bottom: 0;
  left: 0;
}
.review__decor--right {
  left: inherit;
  right: 0;
}

.question {
  margin-top: 20px;
  padding-top: 75px;
}
.question__heading {
  max-width: 575px;
}
.question__list {
  margin-top: 80px;
}
.question__item {
  display: flex;
  align-items: center;
  margin-top: 60px;
  width: 1009px;
  padding: 0 0 22px 22px;
  border-bottom: 2px solid #080415;
  transition: ease 0.5s;
}
.question__item__title {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -0.04;
  white-space: nowrap;
  transition: ease 0.5s;
}
.question__item__desc {
  margin-top: 23px;
  max-width: 487px;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  display: none;
  transition: ease 0.5s;
}
.question__item__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #8a8989;
  font-size: 3.2rem;
  font-weight: 400;
}
.question__item__btn:hover {
  cursor: pointer;
}
input:checked + .question__item {
  border-color: transparent transparent #5d3bee;
}
input:checked + .question__item .question__item__desc {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: scaleY(1);
}
input:checked + .question__item .question__item__title {
  color: #5d3bee;
}

/*# sourceMappingURL=main.css.map */
