.client {
    margin-top: 98px;
    
    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper__heading {
        flex-shrink: 0;
        display: flex;
        gap: 13px;

        &::before {
            content: "";
            margin-top: 24px;
            top: 5px;
            display: inline-block;
            width: 86px;
            height: 2px;
            background: $primary-color;
        }

        .client__heading {
            max-width: 253px;
            color: #080415;
            font-size: 4.2rem;
            font-weight: 500;
            line-height: 1.2; /* 119.048% */
            letter-spacing: -0.04em;
        }
    }

    &__list {
        flex-shrink: 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 66px;
        row-gap: 34px;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        column-gap: 13px;

        &__company {
            font-weight: 600;
        }
    }
}
