.gallery {
    margin-top: 10px;
    padding: 75px 0;

    &__heading {
        @extend %section-heading--center;
    }

    &__desc {
        @extend %section-desc--center;
        margin-top: 20px;
        max-width: 528px;
    }

    &__label {
        margin-top: 30px;
        color: $primary-color;
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: -0.04em;
        text-decoration-line: underline;
        text-align: center;
    }
    
    &-list {
        margin-top: 70px;
    }

    &__item__image {
        width: 370px;
        height: 529px;
        object-fit: cover;  
    }
}
