.header {
    position: sticky;
    top: -6px;
    left: 0;
    padding: 20px 0 12px;
    z-index: 3;
    background-color: $background-color;

    &__wrapper {
        width: 1330px;
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
    }

    &-inner {
        display: flex;
        align-items: center;
    }

    .wrapper-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        .email-contact {
            color: #080415;
            font-size: 2.2rem;
            font-weight: 500;
            text-decoration: underline;
        }
    }

    .logo__icon {
        margin-left: 357px;
        margin-right: 223px;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item__link {
        position: relative;
        padding: 8px 22px;
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        transition: ease 0.5s;

        &:hover {
            text-shadow: 1px 0 0 #51586a;
        }

        &--active::after {
            position: absolute;
            bottom: 0px;
            left: 22px;
            content: "";
            display: inline-block;
            width: 50px;
            height: 1.5px;
            background-color: #51586a;
        }
    }
}
