.review {
    position: relative;
    margin-top: 75px;
    padding: 75px 0;
    background: $background-color;

    &__heading {
        @extend %section-heading--center;
    }

    &__desc {
        @extend %section-desc--center;
        margin-top: 20px;
        max-width: 570px;
    }

    &__quote-list {
        display: flex;
        margin: 60px auto 0;
        overflow: hidden;
        width: 680px;
        max-width: 100%;

        .review__quote-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
        }

        .review__content {
            width: 100%;
            text-align: center;
            color: #51586a;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.67; /* 166.667% */
        }

        .review__author {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 36px;

            &__avt {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            &__name {
                color: $heading-color;
                font-size: 3rem;
                font-weight: 500;
            }

            &__job {
                margin-top: 20px;
                padding-bottom: 6px;
                color: #51586a;
                font-weight: 400;
            }
        }
    }

    &__dots {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-top: 40px;
    }

    &__dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #cecece;

        &:hover {
            cursor: pointer;
        }

        &--active {
            background: $primary-color;
            border: 3px solid white;
            outline: 2px solid $primary-color;
        }
    }

    &__decor {
        position: absolute;
        bottom: 0;
        left: 0;
        
        &--right {
            left: inherit;
            right: 0;
        }
    }
}
